// out: styles.css, sourcemap: false, compress: true

// UI Colours:
@maincolour:     #83def2; // This will change more than this colour

@darker:         darken(@maincolour, 11%);
@slightlighter:  lighten(@maincolour, 10%);
@17percentlight: lighten(@maincolour, 17%);
@buttonactive:   lighten(@maincolour, 23%);
@lighter:        lighten(@maincolour, 26%);
@buttonhover:    lighten(@maincolour, 27%);

@dgrey:          #777;
@mgrey:          #d0d0d0;
@lgrey:          #ededed;
@bodybg:         #f2f2f2;
@cardbg:         white;

@rad:          6px;
@cardrad:      8px;

@shadowdrop:   6px;
@inputheight:  40px;

@inputborder: 1px solid @darker;

// Theme colours:
@memes:       #ffbf30;
@animals:     #ad97ec;
@funny:       #e8944f;
@interesting: #96e08a;
@conv:        #87cbd0;
@programming: #50656b;
@tech:        #c66481;
@other:       #ffffff;

@bodyfont: Lato;
@headfont: Oswald;

// Fonts
@font-face {
    font-family: "Lato";
    src: url("../Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lobster";
    src: url("../Lobster/Lobster-Regular.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("../Oswald/Oswald-Regular.ttf");
}

body
{
    overflow-x: hidden;

    margin: 0;

    background-color: @bodybg;
}

h1.header,
h2.header,
h3.header,
h4.header,
h5.header,
h6.header
{
    font-family: Lobster;
    font-size: 40px;

    color: @lighter;
}

div.inputs
{
    float: inherit;
}

textarea:focus,
input:focus,
button
{
    outline: none;
}

button.top
{
    font-size: 16px;

    float: inherit;

    height: @inputheight + 4px;
    margin-right: 6px;
    margin-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;

    color: @maincolour;
    border-style: none;
    border: @inputborder;
    border-radius: @rad;
    background-color: white;
}

button.top:hover
{
    cursor: pointer;

    background-color: @buttonhover;
}

button.top:active
{
    cursor: pointer;

    background-color: @buttonactive;
}

div.legal
{
    font-family: @bodyfont;
    font-size: 12px;

    float: right;

    margin-top: 5px;
    margin-right: 55px;

    color: @darker;
}

input.top
{
    font-size: 16px;

    width: 85px;
    height: @inputheight;
    margin-right: 6px;
    margin-bottom: 40px;
    padding-left: 10px;

    transition-duration: .4s;

    border-style: none;
    border: @inputborder;
    border-radius: @rad;
}

input.top:focus
{
    width: 150px;
}

input.msg:focus
{
    width: 200px;
}

div.header
{
    width: 100%;
    margin-bottom: 10px;
    padding: 2px;
    padding-left: 40px;

    background-color: @maincolour;
    box-shadow: 0 @shadowdrop 0 0 @darker;
}

p {
    font-family: @bodyfont;
}

h1.card,
h2.card,
h3.card,
h4.card,
h5.card,
h6.card
{
    font-family: @headfont;

    height: 60px;
    font-size: 30px;
    font-size-adjust: auto;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 10px;
    overflow-x: hidden;

    text-align: center;

    background-color: @cardbg;
}

div.tooltip {
    height: 30px;
    padding: 0;
    width: 100px;
}

table, th {
    //border: 1px solid black;
    position: relative;
    width: auto;
}

@tooltipBg: #fb8181;

div.tooltipparent {
    display: inline-block;
    padding: 0;
    float: none;
}

div.tooltipTri {
    display: block;
    //position: absolute;
    width: 0;
    height: 0;
    margin-right: 0px;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent @tooltipBg transparent transparent;
}

p.tooltipp {
    background-color: @tooltipBg;
    color: #fffbfc;
    padding: 8px 12px 8px 12px;
    border-radius: @rad;
    margin: 0;
    margin-top: -26px;
    width: 200px;

    position: absolute;
}

.gone {
    visibility: hidden;
}

img.card {
    width: 100%;
    margin-top: -5px; // To cancel out the margin below the heading
}

hr
{
    margin: 0;

    border: 0;
    border-top: 1px solid @lgrey;
}

p.card
{
    font-family: @bodyfont;

    overflow: auto;

    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;

    text-align: left;
    word-wrap: break-word;

    color: @dgrey;
}

div.card
{
    float: left;
    overflow: auto;

    width: 290px;
    height: 340px;
    margin: 10px;

    border: 1px solid @mgrey;
    border-radius: @cardrad;
    border-bottom-left-radius: 2;
    border-bottom-right-radius: 2;
    background-color: white;
}

a {
    color: @buttonactive;
    text-decoration: none;
}

p.footer {
    text-align: center;
    font-size: 12px;
}

/* DROPDOWN */

.dropbtn:hover {
    background-color: @buttonhover;
}

.dropbtn:active {
    background-color: @buttonactive;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: Oswald;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    left: -30px;
    background-color: @maincolour;
    min-width: 150px;
    overflow: auto;
    box-shadow: 0 @shadowdrop 0 0 @darker;
    padding-bottom: 5px;
    border-radius: @rad * 2; /* So that it looks like it's a locus (sort of) of
                              * the bottom category */
}

.dropdown-content a, span {
    color: @lighter;
    font-family: Lato;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button {
    border: none;
    font-family: Lato;
    margin-top: 5px;
    margin-bottom: 8px;
    height: 30px;
    min-width: 150px - (10px*2);
    border-radius: @rad;
    color: @lighter;
}

.cat-type:hover {
    cursor: pointer;
}

.cat-type:active {
    box-shadow: none;
    margin-top: 11px;
    margin-bottom: 2px;
}

.memes       {background-color: @memes; box-shadow: 0 @shadowdrop 0 0       darken(@memes, 7%);}
.funny       {background-color: @funny; box-shadow: 0 @shadowdrop 0 0       darken(@funny, 7%);}
.animals     {background-color: @animals; box-shadow: 0 @shadowdrop 0 0     darken(@animals, 7%);}
.interesting {background-color: @interesting; box-shadow: 0 @shadowdrop 0 0 darken(@interesting, 7%);}
.conv        {background-color: @conv; box-shadow: 0 @shadowdrop 0 0        darken(@conv, 7%);}
.programming {background-color: @programming; box-shadow: 0 @shadowdrop 0 0 darken(@programming, 7%);}
.tech        {background-color: @tech; box-shadow: 0 @shadowdrop 0 0        darken(@tech, 7%);}
.other       {background-color: @other; box-shadow: 0 @shadowdrop 0 0       darken(@other, 7%);}

.dropdown a:hover, span:hover {background-color: @slightlighter;}

.show {display:block;}
